/backup/*
/cache/*
# /content/*
/content/data/*
/content/*/blog/*/draft/*
/content/*/blog/*/*/scheduled/*
/content/static/draft/*
/content/static/*/draft/*
# /config/config.ini
/config/users/*.ini
/backup
/.htaccess
.DS_Store
